.container {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.leftDiv {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.imageContainer {
  display: flex;
  gap: 50px;
}

.img1 {
  max-width: 400px;
}

.rightDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.subHeading {
  font-size: 25px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}

.heading {
  margin: 0;
  font-family: "Istok Web", sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 125%;
  color: var(--black);
  text-transform: capitalize;
}

.desc {
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
  margin-bottom: 40px;
}

@media only screen and (max-width: 1250px) {
  .heading {
    font-size: 56px;
  }

  .img2 {
    height: 500px;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    flex-wrap: wrap;
  }

  .subHeading {
    margin: 0;
  }
}

@media only screen and (max-width: 950px) {
  .imageContainer {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .leftDiv {
    max-width: 350px;
  }

  .img1 {
    width: 300px;
  }

  .img2 {
    height: 400px;
  }

  .heading {
    font-size: 42px;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    gap: 0px;
    justify-content: center;
  }

  .leftDiv {
    max-width: 90vw;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .imageContainer {
    flex-wrap: wrap;
  }

  .img1 {
    width: 88vw;
  }

  .img2Div {
    display: none;
  }

  .desc {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    padding: 50px 20px 10px 20px;
  }

  .heading {
    font-size: 32px;
  }

  .subHeading {
    font-size: 20px;
  }

  .desc {
    font-size: 15px;
  }
}
