.container {
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 100px;
}

.heading {
  width: 500px;
  font-family: "Istok Web", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 125%;
  color: var(--black);
  text-transform: capitalize;
  margin: 10px 0;
}

.contentDiv {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 50px;
}

.descDiv {
  padding-right: 150px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.desc {
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}
