.container {
  position: absolute;
  z-index: 100;
  margin-top: 40px;
  padding: 20px;
  /* background: linear-gradient(to bottom, var(--white), var(--light-gray)); */
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.anchor {
  color: var(--black);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}
