.container {
  width: 400px;
}

.image {
  width: 400px;
}

.date {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  margin-top: 10px;
  margin-bottom: 0;
}

.heading {
  font-family: "Inter", sans-serif;
  font-size: 23px;
  font-weight: 500;
  color: var(--black);
  margin-top: 10px;
  margin-bottom: 0;
}

.desc {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  margin-top: 10px;
  margin-bottom: 0;
}

@media only screen and (max-width: 1300px) {
  .container {
    max-width: 300px;
  }

  .image {
    max-width: 300px;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    max-width: 250px;
  }

  .image {
    max-width: 250px;
  }

  .heading {
    font-size: 18px;
  }

  .desc {
    font-size: 15px;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    max-width: 85vw;
  }

  .image {
    max-width: 85vw;
  }
}
