.container {
  padding: 50px 100px 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.heading {
  color: var(--black);
  font-family: "Istok Web", sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}

.desc {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--black);
  text-wrap: wrap;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-top: 50px;
}

.cardDiv {
  height: 180px;
  width: 180px;
  border-radius: 10px;
  background-size: cover;
  cursor: pointer;
}

.innerCardDiv {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  /* z-index: 1; */
  display: flex;
  align-items: flex-end;
  transition: all 0.4s;
}

.innerCardDiv:hover {
  background-color: var(--orange);
}

.cardHeading {
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  filter: brightness(100%);
  margin: 0 0 10px 10px;
}

.rightDiv {
  background-color: var(--gray3);
  border-radius: 20px;
  padding: 20px;
  width: 540px;
  height: 600px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.rightDiv img {
  height: 400px;
  width: 500px;
  border-radius: 10px;
}

.itemHeading {
  color: var(--black);
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin: 20px 0;
}

@media only screen and (max-width: 1300px) {
  .container {
    padding: 50px 50px 20px 50px;
  }

  .rightDiv {
    width: 500px;
  }

  .rightDiv img {
    width: 460px;
  }

  .cardDiv {
    height: 150px;
    width: 150px;
  }
}
