.container {
  background-color: var(--gray3);
  padding: 30px 200px 70px 200px;

  /* The below styles will not display the carousel */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.heading {
  text-align: center;
  font-family: "Istok Web", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: var(--white);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 0 0 30px 0;
}

/* .carouselContainer {
  padding: 10px 0;
} */
