.container {
  padding: 10px;
}

.date {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: var(--black);
  margin: 0 0 5px 0;
}

.heading {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--black);
  margin: 0;
}

.desc {
  font-size: 15px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 0; */
  transition: all 0.3s;
}

.category {
  border: none;
  border-radius: 100px;
  padding: 5px 20px;
  width: fit-content;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--gray3);
}

.category:hover {
  background-color: var(--gray4);
}

.icon {
  border: none;
  background-color: var(--white);
  transition: all 0.4s;
  transform: rotate(90deg);
  cursor: pointer;
}

.icon:hover {
  background: none;
}

.active {
  transform: rotate(-90deg);
}

.hr {
  border: 1px solid var(--gray3);
  margin-top: 20px;
}

@media only screen and (max-width: 550px) {
  .heading {
    font-size: 15px;
  }

  .desc {
    font-size: 13px;
  }

  .date,
  .category {
    font-size: 10px;
  }
}
