.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
}

.contentDiv {
  padding-left: 50px;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}

.heading {
  font-size: 48px;
  font-weight: 600;
}

.desc {
  font-size: 20px;
  font-weight: 300;
}

@media only screen and (max-width: 1300px) {
  .container {
    padding: 20px 50px 50px 50px;
  }

  .imageContainer img {
    width: 50vw;
  }
}

@media only screen and (max-width: 1100px) {
  .heading {
    font-size: 42px;
  }

  .desc {
    font-size: 15px;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
  }

  .imageContainer img {
    width: 100%;
    margin-top: 20px;
  }

  .contentDiv {
    padding: 0;
  }
}

@media only screen and (max-width: 550px) {
  .heading {
    font-size: 32px;
  }

  .container {
    padding: 20px;
  }
}
