.container {
  width: 300px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border: 1px solid var(--gray3);
}

.country {
  font-family: "Istok Web", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
  margin: 0;
}

.address {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}

.contacts {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.phone {
  text-decoration: none;
  color: var(--dark-gray);
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 250px;
    height: 400px;
    padding: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .country {
    font-size: 18px;
  }

  .address {
    font-size: 13px;
  }
}
