.foodContainer {
  padding: 50px;
}

.headingContainer {
  background: url("/images/food/image1.png");
  height: 420px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.foodHeading {
  width: 500px;
  margin: 0 0 20px 50px;
  font-family: "Istok Web", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 125%;
  color: var(--white);
  text-transform: capitalize;
}

.contentDiv {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.descContainer {
  padding-right: 50px;
}

.desc {
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}

.foodImageContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.foodImageContainer img {
  width: 200px;
  height: 200px;
}

@media only screen and (max-width: 1250px) {
  .headingContainer {
    height: 350px;
  }

  .foodHeading {
    font-size: 60px;
  }

  .desc {
    font-size: 15px;
  }

  .foodImageContainer img {
    width: 180px;
    height: 180px;
  }
}

@media only screen and (max-width: 1100px) {
  .headingContainer {
    height: 280px;
  }

  .foodHeading {
    font-size: 42px;
  }

  .contentDiv {
    flex-direction: column;
    gap: 50px;
  }

  .foodImageContainer {
    display: none;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media only screen and (max-width: 550px) {
  .foodContainer {
    padding: 50px 0 0 0;
  }

  .headingContainer {
    width: 100vw;
  }

  .foodHeading {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 32px;
    width: auto;
  }

  .foodImageContainer img {
    width: 200px;
    height: 200px;
  }

  .contentDiv {
    padding: 0 20px;
    margin: 0;
    /* width: 100%; */
  }

  .descContainer {
    padding: 0;
  }
}
