.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentDiv {
  padding: 0 150px;
}

.heading {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: var(--black);
  text-transform: capitalize;
}

.desc {
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}

@media only screen and (max-width: 1300px) {
  .container img {
    width: 60vw;
  }

  .contentDiv {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  .container img {
    width: 45vw;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .container img {
    width: 70vw;
  }

  .contentDiv {
    padding: 20px;
  }

  .heading {
    font-size: 18px;
  }

  .desc {
    font-size: 15px;
  }
}
