.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentDiv {
  padding: 0 150px;
}

.heading {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: var(--black);
  text-transform: capitalize;
}

.desc {
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}
