.carouselContainer {
  position: relative;
  padding: 50px 0 50px 0;
}

.customLeftArrow,
.customRightArrow {
  border: none;
  background-color: var(--white);
  cursor: pointer;
}

.buttonGroup {
  position: absolute;
  bottom: 0;
  left: 50px;
}

.playButton {
  position: absolute;
  bottom: 48px;
  right: 50px;
  border: none;
  background-color: var(--white);
}

.subHeading {
  font-size: 25px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
  text-align: center;
  margin-top: 10px;
}

.heading {
  margin: 0;
  font-family: "Istok Web", sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 125%;
  color: var(--black);
  text-transform: capitalize;
  text-align: center;
}

.innerCardContainer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1250px) {
  .heading {
    font-size: 60px;
  }
}

@media only screen and (max-width: 950px) {
  .heading {
    font-size: 42px;
  }

  .subHeading {
    font-size: 20px;
  }

  .buttonGroup {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .carouselContainer {
    padding: 50px 20px;
  }

  .heading {
    font-size: 32px;
  }

  .subHeading {
    font-size: 18px;
  }
}
