.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 550px;
  /* margin-top: 50px; */
}

.contentDiv {
  width: 100%;
  padding: 0 100px;
  background-color: var(--blue);
  height: 550px;
}

.heading {
  font-family: "Istok Web", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  color: var(--white);
  margin-top: 80px;
}

.anchorDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 50px;
}

.anchor {
  color: var(--white);
  text-decoration: none;
}

.label {
  font-family: "Istok Web", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
}

.inputDiv {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.input {
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  padding: 5px;
  width: 250px;
}

.imageDiv {
  /* width: 50%; */
  height: 550px;
}

.imageDiv img {
  /* width: 100%; */
  height: 550px;
}
