.container {
  width: 280px;
  padding: 30px 30px 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--gray3);
}

.heading {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: var(--black);
  text-align: center;
  margin: 10px 0;
  padding: 0 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listItem {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
}
