.container {
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 0px 20px;
}

.logo {
  height: 80px;
}

.active {
  background-color: rgba(255, 255, 255);
  border-bottom: 1px solid var(--gray3);
}

.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dropdownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
