.container {
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/images/home_page_hero.png"); */
  background-size: cover;
  width: 100%;
  height: 85vh;
  margin-top: 0;
  padding-top: 200px;
}

.heading {
  font-family: "Istok Web", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 125%;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 0;
}

.special {
  color: #ff9b42;
}

.contentDiv {
  width: 800px;
  margin-left: 144px;
}

.firstPara {
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

.secondPara {
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

@media only screen and (max-width: 1250px) {
  .container {
    width: 100%;
    height: 500px;
  }

  .heading {
    font-size: 50px;
    line-height: 110%;
  }

  .contentDiv {
    margin-left: 100px;
    width: 600px;
  }

  .firstPara,
  .secondPara {
    font-size: 15px;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    height: 400px;
  }

  .heading {
    font-size: 32px;
    font-weight: 600;
    line-height: 110%;
  }

  .contentDiv {
    width: 90vw;
    margin-left: 20px;
    margin-right: 20px;
  }

  .firstPara,
  .secondPara {
    font-size: 12px;
    font-weight: 400;
  }
}
