.container {
  background-color: var(--white);
  padding: 50px 80px;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftDiv {
  margin-bottom: 15px;
}

.leftDiv img {
  margin-bottom: 20px;
  height: 40px;
  cursor: pointer;
  /* margin-bottom: 20px; */
}

.anchorDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.anchor {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-gray);
  text-decoration: none;
}

.rightDiv {
  text-align: right;
}

.para {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-gray);
}

.copyrightText {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-gray);
  text-align: right;
  margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
  .container {
    padding: 30px 50px;
  }

  /* .icon {
    height: 10px;
    width: 8px;
  } */

  .anchor,
  .para,
  .copyrightText {
    font-size: 13px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 30px 20px;
  }

  .mainContainer {
    align-items: flex-end;
  }

  .leftDiv img {
    height: 30px;
    margin-bottom: 20px;
  }

  .anchorDiv {
    flex-direction: column;
    align-items: flex-start;
  }

  .rightDiv {
    margin-bottom: 10px;
  }

  .copyrightText {
    text-align: center;
  }
}
